@import '@assets/scss/global.scss';

.login {
    flex: 1 1 auto;
    height: 80%;
    &__container {
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 100%;
    }

    &__overlay,
    &__block {
        padding: 0 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50%;
        overflow: auto;

        &::-webkit-scrollbar-thumb {
            background: $green50;
            border-radius: 16px;
        }

        &::-webkit-scrollbar {
            background: #FFFFFF;
            width: 8px;
        }
    }

    &__overlay {
        position: absolute;
        height: 100%;
        width: 50%;
        top: 0;
        left: 0;
        z-index: 100;
        padding: 0px 20px 20px;
        background-color: $green25;
        transition: left 1s ease-in-out;
        
        &--active {
            left: 50%;
        }

        img {
            object-fit: contain;
            max-width: 699px;
            width: 100%;
            max-height: 658px;
            height: 100%;
        }
    }

    &__block {
        gap: 96px;
        padding: 25px;
        height: 100%;
        &--disabled {
            transition-delay: 0.2s;
            transition-duration: 0.1s;
            visibility: hidden;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        max-width: 466px;
        width: 100%;
        height: max-content;
        gap: 25px;
    }

    &__link {
        text-align: center;
        font-size: 14px;
        line-height: 17px;

        a {
            text-decoration: none;
        }
    }
}




@media (max-width: 1440px) {
    .login__block > img {
        width: 96px;
        height: 93px;
        gap: 0;
    }
}


@media (max-width: 768px) {
    .login {
        flex-direction: column;
        align-items: center;
        padding: 47px 15px 0px 15px;

        .login__block {
            justify-content: normal;
            width: 100%;
            padding: 0;
            gap: 72px;
            &--disabled {
                position: absolute;
                transition: 0s;
                top: -1000;
                left: -1000;
            }
        }

        .login__overlay {
            display: none;
        }

        .login__link {
            font-size: 12px;
            line-height: 15px;
        }

        .sign-up {
            .login__password {
                margin-bottom: 42px;
            }
        }
    }
}