@import '@assets/scss/global.scss';

.input {
    width: 100%;
    position: relative;

    &__block {
        display: block;
        padding: 4px 0px 0px 17px;
        width: 100%;
        height: 48px;
        background: $gray25;
        border-radius: 16px;
        outline: none;
        font-size: 18px;
        line-height: 32px;

        &::placeholder {
            font-family: 'Inter-Regular';
            font-size: 18px;
            line-height: 32px;
            color: $black;
        }

        /*        &:focus {
            background: $yellow75;
            border: 4px solid $yellow50;
        } */
    }

    img {
        position: absolute;
        bottom: 4px;
        right: 3px;
        cursor: pointer;
    }


}

.dropdown {
    position: relative;

    &__vector {
        transition: transform 0.2s ease-in-out;

        &--active {
            transform: rotate(180deg);
        }
    }

    &__menu {
        position: absolute;
        top: 39px;
        display: none;
        flex-direction: column;
        gap: 25px;
        width: 100%;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        padding: 20px 16px;
        font-size: 18px;
        background: $gray25;
        z-index: 1;

        &--active {
            display: flex;
        }
    }



    &___select {
        cursor: pointer;
        position: relative;
        padding-left: 26px;

        &::before {
            content: '';
            top: 2px;
            left: 0;
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: 50%;
        }

        &.hardware::before {
            background: $green50;
        }

        &.software::before {
            background: $pink;
        }

        &.troubleshooting::before {
            background: $blue100;
        }

        &.networking::before {
            background: $yellow100;
        }
    }
}

@media (max-width: 768px) {
    .input {
        img {
            width: 25px;
            height: 25px;
            bottom: 10px;
            right: 13px;
        }
    }

    .input__block::placeholder {
        font-size: 16px;
        line-height: 19px;
    }
}