@import '@assets/scss/global.scss';

.input {
    width: 100%;
    position: relative;

    &__block {
        display: block;
        padding: 4px 0px 0px 17px;
        width: 100%;
        height: 48px;
        background: $gray25;
        border-radius: 16px;
        outline: none;
        font-size: 18px;
        line-height: 32px;
        &::placeholder {
            font-family: 'Inter-Regular';
            font-size: 18px;
            line-height: 32px;
            color: $black;
        }

        &:focus {
            background: $yellow75;
            border: 4px solid $yellow50;
        }
    }

    img {
        position: absolute;
        top: 3px;
        right: 3px;
    }
}

@media (max-width: 768px) {
    .input {
        img {
            width: 25px;
            height: 25px;
            top: 12px;
            right: 13px;
        }
    }

    .input__block::placeholder {
        font-size: 16px;
        line-height: 19px;
    }
}