@import '@assets/scss/fonts.scss';


$green25: #D3EDE1;
$green50: #7DB59A;
$green75: #5B9479;
$green100: #4F896C;

$purple50: #E84393;
$purple75: #B03671;
$purple100: #832552;

$gray25: rgba(#C2C2C2, 0.24);
$gray50: #ADADAD;
$gray75: #858585;
$gray100: #5C5C5C;


$blue75: #2F80ED;
$blue100: #6C5CE7;

$yellow50: #FEEAC5;
$yellow75: #F0E1C5;
$yellow100: #FDCB6E;
$black: #000000;
$pink: #FF7675;
$red: #CC1F1F;
$white: #FFFFFF;

*,
*::before,
::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    color: $blue75;
    text-decoration:underline;
    cursor: pointer;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
    font-size: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
}
body,input::placeholder {
    font-family: 'Inter-Regular';
    font-size: 16px;
    line-height: 20px;
    color: #2D3436;
   /*  overflow-y: hidden; */
}
.wrapper {
    position: relative;
 /*    overflow: hidden; */
    display: flex;
    flex-direction: column;
    height: 100%;
}


.title {
    font-family: 'Inter-Bold';
    font-size: 36px;
    line-height: 44px;
    color: $black;
    display: inline;
}

.label {
    display: inline-block;
    font-family: 'Inter-ExtraBold';
    font-size: 12px;
    line-height: 15px;
    color: $gray50;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    padding-bottom: 8px;
}
[class*="__container"] {
    margin: 0 auto;
}

::-webkit-scrollbar-thumb {
    background: $green100;
}
::-webkit-scrollbar {
    display: none;
}


