include ../navbar/navbar.pug
include ../header/header.pug
include ../button/button.pug
include ../table/table.pug
mixin main-page
    .wrapper 
        .container
            +navbar
            +header
            main.home
                .home__container
                    h1.title Your claims
                    +button({type: 'submit', placeholder: '+ Create claim'})(class="home__button")
                    +table([
                        {
                            title: 'Figma smart web system for to build',
                            created: '12/04/2021',
                            type: 'hardware',
                            status: 'declined',
                            actions: 'browse'
                        }, 
                        {
                            title: 'Figma smart web system for to build',
                            created: '13/04/2021',
                            type: 'software',
                            status: 'new',
                            actions: 'browse'     
                        },
                        {
                            title: 'Figma smart web system for to build',
                            created: '14/04/2021',
                            type: 'troubleshooting',
                            status: 'in progress',
                            actions: 'browse'  
                        },
                        {
                            title: 'Figma smart web system for to build',
                            created: '19/04/2021',
                            type: 'software',
                            status: 'done',
                            actions: 'browse'                                  
                        },
                        {
                            title: 'Figma smart web system for to build',
                            created: '27/04/2021',
                            type: 'networking',
                            status: 'done',
                            actions: 'browse'                                  
                        },
                        {
                            title: 'Figma smart web system for to build',
                            created: '02/05/2021',
                            type: 'hardware',
                            status: 'new',
                            actions: 'browse'                                  
                        },
                        {
                            title: 'Figma smart web system for to build',
                            created: '10/05/2021',
                            type: 'networking',
                            status: 'in progress',
                            actions: 'browse'                                  
                        },
                        {
                            title: 'Figma smart web system for to build',
                            created: '12/05/2021',
                            type: 'troubleshooting',
                            status: 'declined',
                            actions: 'browse'                                  
                        },
                        {
                            title: 'Figma smart web system for to build',
                            created: '19/05/2021',
                            type: 'troubleshooting',
                            status: 'declined',
                            actions: 'browse'                                  
                        },
                        {
                            title: 'Figma smart web system for to build',
                            created: '26/05/2021',
                            type: 'software',
                            status: 'done',
                            actions: 'browse'                                  
                        }                                                                                  
                        ])

    