.login-form {
    display: flex;
    flex-direction: column;
    max-width: 466px;
    width: 100%;
    max-height: 596px;
    gap: 96px;
    height: 100%;
    &>img {
        width: 165px;
        height: 161px;
        align-self: center;
    }
    &__content {
        display: flex;
        flex-direction: column;
        gap: 22px;
    }
    &__link {
        text-align: center;
        font-size: 14px;
        line-height: 17px;

        a {
            text-decoration: none;
        }
    }
}

@media (max-width: 768px) {
    .login-form {
        gap: 10%;
    }
    .login-form > img {
        width: 96px;
        height: 93px;
    }
    .login-form__link {
        font-size: 12px;
        line-height: 15px;
    }
}
