include ../input/input.pug
mixin header 
    .header 
        .header__container
            nav.header__nav
                .header__burger
                    span
                +input({type: 'search'})(class="header__search")
                .header__overlay
                    a.header__notification.header__notification--active
                        img(src=require("@assets/img/icon-notification.svg"), alt="bell") 
                    .header__avatar 
                        img(src=require("@assets/img/avatar.jpg"), alt="bell")
                    p.header__nickname Ivan Ivanov
                    .header__exit 
                        img(src=require("@assets/img/icon-exit.svg"), alt="bell")
        