include ../input/input.pug
mixin header 
    .header 
        nav.header__nav
            +input({type: 'search'})(class="header__search")
            .header__account
                a.header__notification.header__notification--active
                    img(src=require("@assets/img/icon-notification.svg"), alt="bell") 
                .header__avatar 
                    img(src=require("@assets/img/avatar.jpg"), alt="bell")
                p.header__nickname Ivan Ivanov
                .header__exit 
                    img(src=require("@assets/img/icon-exit.svg"), alt="bell")
        