@import '@assets/scss/global.scss';

.header {
    border-bottom: 1px solid $gray25;
    grid-area: header;
    &__container {
        padding: 24px;
        padding-left: 55px;
    }
    &__nav {
        float: right;
        display: flex;
        height: 48px;
        max-width: 917px;
        width: 100%;
        gap: 75px;
    }
    &__account {
        display: flex;
        align-items: center;
        gap: 24px;
    }
    &__notification {
        position: relative;
        cursor: pointer;
        &--active::after {
            content: '';
            position: absolute;
            width: 9px;
            height: 9px;
            top: -2px;
            right: -2px;
            border-radius: 50%;
            background: $purple50;
        }
    }
    &__avatar {
        overflow: hidden;
        border-radius: 50%;
        min-width: 50px;
        min-height: 50px;
    }
    &__nickname {
        width: max-content;
        font-size: 14px;
    }
    &__exit {
        cursor: pointer;
    }
}