@import '@assets/scss/global.scss';

.navbar {
    padding-top: 32px;
    background: linear-gradient(180deg, #D5EEE2 0%, $green50 43.23%);
    grid-area: navbar;

    &__logo {
        display: flex;
        justify-content: center;
        margin-bottom: 48px;

        img {
            width: 71px;
            height: 71px;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__item {
        position: relative;
        cursor: pointer;
        width: 100%;
        text-align: center;

        &--active::before {
            content: "";
            position: absolute;
            top: 16px;
            left: -17px;
            width: 39px;
            height: 5px;
            background: $white;
            transform: rotate(90deg);
        }
    }
}