@import "@assets/scss/global.scss";

.footer {
  height: 97px;
  background: $green50;
  padding: 16px 30px;
}

@media (max-width: 768px) {
  .footer {
    height: 64px;

    img {
      display: none;
    }
  }
}
