
mixin table(elements=[])
    table.table
        thead.table__data.table__head
            th Title
            th Created
            th Type
            th Status
            th Actions
        each value in elements
            tbody.table__block
                tr.table__title
                    th.column-1 Title
                    th.column-2 Created
                    th.column-3 Type
                    th.column-4 Status
                    th.column-5 Actions
                tr.table__data
                    td.table__question=value.title 
                    td.table__created=value.created 
                    td #[p(class=`table__type ${value.type}`)=value.type] 
                    td #[div(class=`table__status ${value.status.split(' ').join('')}`)=value.status]
                    td #[a(class='table__link')=value.actions]