@import '@assets/scss/global.scss';

.table {
    width: 100%;
    margin-top: 50px;
    border-collapse: collapse;

    &__rows {
        text-align: left;
        height: 48px;
    }

    &__title {
        font-family: 'Inter-Medium';
        font-size: 18px;
        line-height: 22px;
        background: #F1F1F1;
        justify-content: left;
        height: 58px;
    }

    &__type {
        position: relative;
        padding-left: 32px;

        &::first-letter {
            text-transform: uppercase;
        }

        &::before {
            content: '';
            top: 0;
            left: 0;
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: 50%;
        }

        &--hardware::before {
            background: $green50;
        }

        &--software::before {
            background: $pink;
        }

        &--troubleshooting::before {
            background: $blue100;
        }

        &--networking::before {
            background: $yellow100;
        }
    }

    &__status {
        width: 124px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Inter-ExtraBold';
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 2.5px;
        color: $white;
        border-radius: 16px;
        text-transform: uppercase;

        &--declined {
            background: $purple50;
        }

        &--new {
            background: $blue100;
        }

        &--inprogress {
            background: $yellow100;
        }

        &--done {
            background: $green100;
        }
    }

    &__link {
        display: block;

        &::first-letter {
            text-transform: uppercase;
        }
    }

    th,
    td {
        padding: 0 24px;
    }
}

@media (max-width: 1440px) {
    .table {
        .table__rows {
            font-size: 14px;
        }

        .table__title {
            font-size: 16px;
        }
    }
}