include ../input/input.pug
include ../checkbox/checkbox.pug
include ../button/button.pug
include ../footer/footer.pug
mixin index
    .wrapper
        main.auth
            .auth__container
                figure.auth__overlay
                    img(src=require("@assets/img/poster-home-copy.png"), alt="authorization poster")
                section.auth__block.sign-up
                    img.logo(src=require("@assets/img/logo-company.svg"), alt="logo company")
                    form.auth__form(action="#")
                        +input({type: 'textfield', label: 'full name', placeholder: 'Type your full name'})(class="block-1")
                        +input({type: 'email', label: 'e-email'})(class="block-1")
                        +input({type: 'password', label: 'password'})(class="block-2")
                        +checkbox(class="block-3")
                        +button({type: 'submit', placeholder: 'Login'})(class="block-4")
                        p.auth__link.sign-up__link Not a member? #[a(href="#") Request registration.] 
                section.auth__block.sign-in 
                    img(src=require("@assets/img/logo-company.svg"), alt="logo company")
                    form.auth__form(action="#") 
                        +input({type: 'email', label: 'e-email'})(class="block-1")
                        +input({type: 'password', label: 'password'})(class="block-2")
                        +checkbox(class="block-3")
                        +button({type: 'submit', placeholder: 'Login'})(class="block-4")
                        p.auth__link.sign-in__link Not a member? #[a(href="#") Request registration.]
        +footer()