@import '@assets/scss/global.scss';

.auth {
    flex: 1 0 auto;
    height: 80%;

    .auth__container {
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 100%;
    }

    &__overlay,
    &__block {
        padding: 0 24px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50%;
    }

    &__overlay {
        position: absolute;
        height: 100%;
        width: 50%;
        top: 0;
        left: 0;
        z-index: 100;
        padding: 0px 20px 20px;
        background-color: $green25;
        transition: left 1s ease-in-out;

        &--active {
            left: 50%;
        }

        img {
            max-width: 699px;
            width: 100%;
            max-height: 658px;
            height: 100%;
        }
    }

    &__block {
        gap: 10.5%;
    }

    &__form {
        max-width: 466px;
        width: 100%;
        height: max-content;
        overflow: hidden;
    }
    &__email {
        margin-bottom: 28px;
    }
    
    &__password {
        margin-bottom: 25px;
    }
    
    &__checkbox {
        margin-bottom: 32px;
    }
    
    &__submit {
        margin-bottom: 16px;
        width: 100%;
    }
    

    &__link {
        text-align: center;
        font-size: 14px;
        line-height: 17px;
        a {
            text-decoration: none;
        }
    }
}

.sign-in,
.sign-up {
    &--disabled {
        transition-delay: 0.2s;
        transition-duration: 0.1s;
        visibility: hidden;
    }
}


@media (max-width: 1440px) {
    .auth__overlay img {
        object-fit: contain;
    }

    .sign-in>img,
    .sign-up>img {
        width: 96px;
        height: 93px;
    }

    .auth__block {
        gap: 0;
    }
}


@media (max-width: 768px) {
    .auth {
        .auth__container {
            flex-direction: column;
            align-items: center;
            padding: 47px 15px 0px 15px;
        }

        .auth__block {
            justify-content: normal;
            width: 100%;
            padding: 0;
            gap: 12.5%;
        }

        .auth__overlay {
            display: none;
        }

        .sign-up,
        .sign-in {
            &--disabled {
                position: absolute;
                transition: 0s;
                top: -1000;
                left: -1000;
            }
        }

        .auth__link {
            font-size: 12px;
            line-height: 15px;
        }

        .auth__email {
            margin-bottom: 20px;
        }

        .auth__password {
            margin-bottom: 19px;
        }

        .sign-up {
            .auth__password {
                margin-bottom: 42px;
            }
        }

        .auth__checkbox {
            margin-bottom: 27px;
        }

        .auth__submit {
            margin-bottom: 13px;
        }
    }
}
